
# Environment variables
.env
.env.*
# !.env.example

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# IDEs
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build files
build/
dist/
*.egg-info/

# Testing / Coverage
.pytest_cache/
.coverage
htmlcov/

# Temporary files
*.tmp
*.temp

